*.Generated.cs
RocketBoxers/obj/
RocketBoxers/bin/
.vs/
*.user
*.aeproperties
*.Generated.Event.cs

BuiltXnbs/DesktopGL/obj/
BuiltXnbs/DesktopGL/Screens/WrapUpScreen/RB_WrapUpScreen_2019_06_03v03AR.ogg
